[Unit]
Description=Proxy server for accessing the Strava Global Heatmap

[Service]
Environment="STRAVA_HEATMAP_PROXY_PORT=9192"
ExecStart=%h/.local/bin/strava-heatmap-proxy --port ${STRAVA_HEATMAP_PROXY_PORT} --no-init

[Install]
WantedBy=default.target
