name: strava-heatmap-proxy-cd

on:
  push:
    branches: [ "main" ]
    paths:
      - ".github/workflows/**"
      - "strava-heatmap-proxy/**"

jobs:
  cd:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: strava-heatmap-proxy/
          platforms: linux/amd64
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/strava-heatmap-proxy:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/strava-heatmap-proxy:${{ github.sha }}
